@model IEnumerable<MusicDBWebApp.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4 heading-font">Artist Operations</h1>
        <p>View All Artist</p>
    </div>
    <p>
        <a asp-action="Create" class="btn btn-primary">Add New Artist</a>
    </p>
    <table class="table table-bordered">

        <thead class="thead-dark">
            <tr>
                <th>
                    Artist Photo
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArtistName)
                </th>
                <th colspan="3" align="center">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td style="width:20%">
                    <img src="~/artist/@item.ArtistID@item.Extension" class="img-fluid" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.ArtistID">Edit</a>
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.ArtistID">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ArtistID">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>