@model IEnumerable<MusicDBWebApp.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4 heading-font">Album Operations</h1>
        <p>View All Album</p>
    </div>
    <p>
        <a asp-action="Create" class="btn btn-primary">Add New Album Details</a>
    </p>
    <table class="table table-bordered">

        <thead class="thead-dark">
            <tr>
                <th>Album Cover</th>
                <th>
                    @Html.DisplayNameFor(model => model.AlbumName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Artist)
                </th>
                <th colspan="2" align="center">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td style="width:20%">
                    <img src="~/album/@item.AlbumID@item.Extension" class="img-fluid" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Songs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.GenreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.ArtistName)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-info mr-2" asp-route-id="@item.AlbumID">Edit</a>
                    </td>
                <td>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.AlbumID">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>